/* Kevin Powell's reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "BlackOpsOne";
  src:
    url("./fonts/BlackOpsOne-Regular.woff") format("woff"),
    url("./fonts/BlackOpsOne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "MontserratMedium";
  src:
    url("./fonts/Montserrat-Medium.woff") format("woff"),
    url("./fonts/Montserrat-Medium.woff2") format("woff2");
}

body {
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  font-family: "BlackOpsOne";
  font-size: 3.75rem;
  color: #00b8d9;
  margin-top: 2.5rem;
  text-shadow: 4px 4px 10px black;
}

#banner {
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e4052;
  color: #00b8d9;
  font-family: "MontserratMedium";
  font-size: 1.75rem;
  border-top: 0.5px solid #e63946;
  border-bottom: 0.5px solid #e63946;
  text-shadow: 4px 4px 10px black;
}

#container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  height: 60vh;
  width: 75vw;
}

.board-container {
  background-color: #2e4052;
  display: grid;
  align-content: space-evenly;
  grid-template-rows: 0.1fr 0.1fr 2fr;
  grid-template-columns: 0.1fr 2fr;
  border: 2px solid #8899a6;
  border-radius: 0.3rem;
  padding: 1rem;
  gap: 0.5rem;
  width: 50%;
  box-shadow: 0px 0px 5px 3px #e63946;
}

.no-cursor-allowed {
  pointer-events: none;
}

h2 {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1.3rem;
  color: #00b8d9;
  font-family: "MontserratMedium";
  text-shadow: 4px 4px 10px black;
}

h3,
h4,
label,
p {
  color: #00b8d9;
  font-family: "MontserratMedium";
  text-shadow: 2px 2px 4px black;
}

/* h3 {
  text-shadow: 0px 0px 10px black;
  /*#e63946*/

.number-coords {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
}

.letter-coords {
  display: grid;
  align-items: center;
  justify-items: center;
}

.board {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border-radius: 0.2rem;
  border: 2px solid #95a5a6;
}

.row {
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, minmax(1.5rem, 1fr));
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b8d9;
  border: 1px solid #95a5a6;
}

.column:hover {
  cursor: pointer;
}

.missed-circle {
  background-color: #4361ee;
}

.hit-circle {
  background-color: #e63946;
}

.missed-circle,
.hit-circle {
  height: 50%;
  width: 50%;
  border-radius: 0.5rem;
}

/* Start Game Dialog */

.is-open {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.5fr;
  gap: 1rem;
  grid-template-columns: 1fr;
  background-color: #0a192f;
  font-family: "MontserratMedium";
}

.start-game-modal h2 {
  font-family: "BlackOpsOne";
  font-size: 4rem;
  margin-top: 1.5rem;
}

#start-modal-main {
  grid-row: 2/3;
  justify-self: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 40%;
  gap: 1rem;
}

#boat-placement-container {
  border: 2px solid #00b8d9;
  border-radius: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.boat-container {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
}

.boat-header {
  color: #00b8d9;
  justify-self: center;
  padding-top: 0.2rem;
}

.hover-effect:hover {
  background-color: #3e5c76;
  border-radius: 0.5rem;
  cursor: pointer;
  pointer-events: all;
}

.selected {
  background-color: #3e5c76;
  border-radius: 0.5rem;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.remove-pointer {
  pointer-events: none;
}

#start-game-button,
#axis-button,
#modal-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #e63946;
  border: none;
  font-family: "MontserratMedium";
}

#start-game-button:hover,
#axis-button:hover,
#modal-button:hover {
  background-color: #95a5a6;
  cursor: pointer;
}

#start-screen-gameboard {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid #95a5a6;
  border-radius: 0.2rem;
}

.highlight {
  background-color: #78909c;
}

#username-and-button-container {
  grid-row: 3/4;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #00b8d9;
  padding: 0.5rem;
}

#username-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#username-container input {
  padding-left: 1px;
}

#username-container:focus {
  outline: 2px solid #e63946;
  border-radius: 0.2rem;
}

/* Winner Dialog */
#winner-modal:open {
  display: none;
  top: 20%;
  left: 34.5%;
  height: 25%;
  width: 30%;
  border-radius: 0.5rem;
  background-color: #2e4052;
  border: 2px solid #8899a6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px #e63946;
}
