/* Kevin Powell's reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "BlackOpsOne";
  src:
    url("./fonts/BlackOpsOne-Regular.woff") format("woff"),
    url("./fonts/BlackOpsOne-Regular.woff2") format("woff2");
}

body {
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

h1 {
  font-family: "BlackOpsOne";
  font-size: 3.75rem;
  margin-bottom: 3rem;
  color: #00b8d9;
}

#container {
  display: flex;
  gap: 1rem;
}

.board {
  background-color: #2e4052;
  height: 50vh;
  width: 25vw;
  display: grid;
  border: 2px solid #8899a6;
}

.row {
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  grid-column: 1/1fr;
  background-color: #3e5c76;
  border-radius: 0.2rem;
  border: 0.5px solid #b5a67c;
}

.missed-circle,
.hit-circle {
  height: 50%;
  width: 50%;
  border-radius: 25%;
}

.missed-circle {
  background-color: #95a5a6;
}

.hit-circle {
  background-color: #e63946;
}
